$background-root: rgb(44, 42, 42);
$background-content: rgb(129, 124, 124);

body {
  margin: 0;
}

.page {
  background-color: $background-root;
  font-family: 'Inter', 'Suisse', 'Arial', 'Helvetica', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 350px 0;
  background-color: $background-content;
}