.cardsList {
    padding-top: 100px;
}

.cardsList__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    max-width: 100%;
    column-gap: 24px;
    row-gap: 37px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-items: center;
}
